<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"

rel="stylesheet" />
    <title>Bienvenidos a Mercado Liebre</title>
</head>
<header>
    <img src="/img/logo-mercado-liebre.svg">

Lugar para poner la barra de búsqueda
Comprá en cuotas y sin tarjeta de crédito
</header>

<nav>
    <ul>
        <li> <a href="#">Ofertas</a></li>
        <li> <a href="#">Tiendas Oficiales</a></li>
        <li> <a href="#">Vender</a></li>
        <li> <a href="#">Ayuda</a></li>
        <br>
        <li> <a href="#">Creá tu cuenta</a></li>
        <li> <a href="#">Ingresá</a></li>
        <li> <a href="#">Mis compras</a></li>
    </ul>
</nav>
<div>
    

</div>
<article>
    Cafetera Moulinex
    <img src="/img/img-cafetera-moulinex.jpg">
</article>

<article>
    MacBook Pro 2019
    <img src="/img/img-MacBook-Pro-2019.jpg">
</article>

<article>
    Samsung Galaxy S10
    <img src="/img/img-Samsung-Galaxy-S10.jpg">
</article>

<article>
    SmartTv Samsung 43"
    <img src="/img/img-Tv-Samsung-smart.jpg">
</article>

<body>
    
</body>
</html>

